/* Custom container styling for the Saturn section */
.custom-saturn-container {
    background-color: #2F4F4F; /* DarkSlateGray for a more atmospheric look */
    border-radius: 12px; /* Rounded corners */
    padding: 50px;
}

/* Custom title styling for Saturn section */
.custom-saturn-title {
    font-family: 'Arial', sans-serif;
    color: #FFD700; /* Gold for the title text */
    font-size: 2.3rem; /* Larger font size */
    font-weight: 700; /* Bold text */
}

/* Custom description styling for Saturn section */
.custom-saturn-description {
    font-size: 1.4rem;
    color: #FFD700; /* Gold color for description text */
    font-weight: 500;
    font-style: italic;
    margin-top: 25px;
}

/* Custom wrapper for the Saturn iframe */
.custom-saturn-iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px; /* Rounded corners for the iframe container */
    background-color: #4B4B4B; /* Darker gray background for the iframe container */
}

/* Custom styling for the Saturn iframe */
.custom-saturn-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #DAA520; /* GoldenRod border for Saturn */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Custom padding for the section */
.custom-saturn-container .container {
    padding: 30px;
}

/* Icon color */
.custom-saturn-title i {
    color: #FFD700; /* Gold for the icon */
}

/* Custom Button */
.custom-saturn-button {
    background-color: #2F4F4F; /* DarkSlateGray for button background */
    border: none;
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    text-align: center;
    text-decoration: none; /* Remove underline from link */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
}

.custom-saturn-link {
    color: white; /* Link text color */
    text-decoration: none; /* Remove underline */
}

.custom-saturn-button:hover {
    background-color: #4B4B4B; /* Lighter gray on hover */
}